.background{
display: flex;
justify-content: center;
height: 100vh
}

.main-wrapper{
height: 100vh;
width: 700px;
border: 2px solid black;
}

.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    border: 1px solid black;
}

.shape-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    border: 1px solid black;   
}

.circle{
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
    border: 1px solid black;
}